#begin {
  background-color: #d1cfcf; 
  height: 52px;
  color: red;
}

.navbar-default {
  background-image: none;
  background-color: #dbd9d9;  
  border-color: transparent;
  border-radius: 0px;
  height: 52px;
  width: 100%;
}
  
.navbar-default .navbar-brand {
  color: black;
  text-transform: uppercase;
  font-weight: bold;  
}

.navbar-right {
  background-color: #c1bdbd; 
}

.navbar-default .navbar-nav>li>a {
  color: black;
  text-transform: uppercase;
  font-weight: bold;  
}

.navbar-default .navbar-nav>li>a:hover {
  background-color: #f4f4f4; 
}

#properties {
    text-align: center;
    text-transform: uppercase;
    font-color: #152125;
    font-weight: bold;
 
    background-color: #bcb8ad; 
}
  
.banner-social-buttons {
    float: center;
    list-style-type:none;
    padding-top: 60px;
  margin: 0px 0px 0px 130px;
}

.banner-social-buttons li {
    margin-bottom: 15px;
}

.banner-social-buttons li a {
    width: 200px;  
  text-align: left;  
}

#about {
  
  background-color: #e5e3e3;
  padding-top: 20px;
  padding-bottom: 40px; 
}
  
#about img {
  width: 50%;
  margin-left: 150px;
}


#portfolio {
  padding-top: 30px;
  text-align: center;
  background-color: #EEEEEE;
  padding-bottom: 90px;  
}

#portfolio p {
  font-size: 30px;
  text-align: center;
  padding-bottom: 40px;  
}

#portfolio img {
  height: 200px;
  width: 180px; 
}