#navigation {
  height: 50px;
}

.navbar-default .navbar-brand {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0px;  
}

.navbar-default .navbar-brand:hover {
  color: #5b397d;  
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #9884AD;
}

.navbar-toggle {
  background-color: #430D60;
}

.navbar-default .navbar-toggle {
  border: none;
}

.navbar-default .navbar-toggle:hover {
    background-color: #85609F;
}

.navbar {
  border-radius: 0px;
  background-color: #9884AD;
  background-image: none;
  border: none;
}
     
.navbar-default .navbar-nav>li>a {
  color: black;
  text-transform: uppercase;
  font-weight: bold;  
}

.navbar-default .navbar-nav>li>a:hover {
  background-color: #430D60;
  color: black; 
}

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}

#properties {
  text-align: center;
  text-transform: uppercase;
  font-color: #152125;
  font-weight: bold;
  background-image: -webkit-gradient(
  linear,
  right top,
  right top,
  color-stop(0.25, #A982BD),
  color-stop(0.73, #5B397D)
  );
background-image: -o-linear-gradient(right top, #A982BD 25%, #5B397D 73%);
background-image: -moz-linear-gradient(right top, #A982BD 25%, #5B397D 73%);
background-image: -webkit-linear-gradient(right top, #A982BD 25%, #5B397D 73%);
background-image: -ms-linear-gradient(right top, #A982BD 25%, #5B397D 73%);
background-image: linear-gradient(to right top, #A982BD 25%, #5B397D 73%);  
}

#properties h1 {
  margin-top: 48px;
  margin-bottom: 25px;
  font-size: 63px;
  color: black;
}

.intro-social-buttons {
  padding-top: 24px;
  color: black;
}

.banner-social-buttons {
  float: center;
  list-style-type:none;
  padding-top: 60px;
  margin: 0px 0px 0px 130px;

}

.banner-social-buttons li {
  margin-bottom: 15px;
}

.banner-social-buttons li a {
  width: 200px;  
  text-align: left;  
}

#about { 
  background-color: #e5e3e3;
  padding-top: 30px;
  padding-bottom: 40px; 
}
  
#about img {
  width: 50%;
  margin-left: 150px;
}

#portfolio {
  padding-top: 30px;
  text-align: center;
  background-color: #C1B4CE;
  padding-bottom: 90px;  
}

#portfolio p:nth-child(1) {
  font-size: 30px;
  text-align: center;
  padding-bottom: 40px; 
  color: black;  
}
 
.look-second img {   
  height: 200px;
  width: 180px;  
}

.look-second {
  padding-top: 60px;
}

.view view-first {
  width: 150px;
}

.view {
  height: 300px;
  margin: 10px;
  text-align: center;
}

.view img {
  position: relative;
}

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  border-top: 0;
}
 
.view-first .description {
  position:relative;
  padding-top:30px;
  left:0px;
  visibility:hidden;
  transition-delay: 0.5s;
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.view-first:hover .description {
  visibility:visible;
  text-decoration: none;
}

.view-first img { 
  transition: all 0.2s linear; 

}
  
.view-first:hover img { 
  transform: scale(1.1); 
} 

.btn-default-custom {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  border-radius: 20px; 
}

.btn-default-custom:hover {
  background-color: #430D60;
  color: black;
  font-weight: bold;
  border-color: #1C012B;
}

.svg-wrapper {
  margin: 0 0 0 130px;
  top: 50%;
 }

.shape {
  fill: transparent;
  stroke-dasharray: 236 540;
  stroke-dashoffset: -403;
  stroke-width: 6px;
  stroke: black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;  
}

.text {
  color: black;
  font-family: 'Roboto Condensed';
  font-size: 22px;
  letter-spacing: 8px;
  line-height: 32px;
  position: relative;
  top: -48px;
  text-transform: uppercase;
  padding-left:15px;
}

.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}

#contact {
  padding-top: 30px;
  background-color:#c9c5b9;
  color: black;
  padding-bottom: 30px;
  
}

#contact h1 {
  text-align: center;  
  text-transform: uppercase;
  font-size: 30px;
  line-height: 40px;
  padding-bottom: 40px;
}

#contact .btn-lg:hover {
  color: black;
  border: 2px outset rgba(0, 0, 0, 0.9);
  background-color: #9884AD;
  transform: scale(1.1);
  transition: 0.4s;
  letter-spacing: 2px;
  font-weight: bold;
}

#contact .btn-lg {
  background-color: #eee;
  background-image: none;
  color: black;
  border-color: black;
}

.btn-custom {
  margin-left: 80px;
  background-image: none;
  color: black;
  border-color: black;

  background-color: #a39f92;
  width: 160px;
  height: 45px;
  font-size: 18px;
}

.btn-custom:hover, .btn-custom:hover  {
  color: black;
  border-color: black;
  background-color: #efeadc;
  font-weight: bold;
  border-width: 2px;
}

.btn-custom:focus {
  color: black;
  border-color: black;
  background-color: #efeadc;
  font-weight: bold;
}

button {
  margin-left: 80px;
  background-image: none;
  color: black;
  border-color: black;
}


.form-control:focus {
  border-color: black;
}

.bigicon {
    font-size: 35px;
    color: black;
}

@media only screen and (max-width: 768px) {
  #properties {
    height: 550px;
  }
  
  .intro-social-buttons li {
    padding-bottom: 15px;
    display: block;
  }  
}  

@media only screen and (min-width: 768px) {
  #properties {
    height: 340px;
  }
}  
  
@media only screen and (min-width: 992px) {
/*   body {
      background-color: lightblue;
  } */
}    
  
@media only screen and (min-width: 1200px) {
/*   body {
      background-color: lightblue;
  } */
}  